<form id="bookingForm">
  {% csrf_token %}
  <input type="hidden" name="lapangan_id" value="{{ lapangan.id }}">

  {% for jadwal in jadwals %}
    {% if !jadwal.is_booked %}
      <label>
          <input type="checkbox" name="jadwal_id" value="{{ jadwal.id }}">
          {{ jadwal.tanggal }} - {{ jadwal.jam_mulai }} s/d {{ jadwal.jam_selesai }}
        </label><br>
    {% endif %}
  {% endfor %}

  <button type="submit">Lanjut ke Pembayaran</button>
</form>

<div id="message"></div>


<script>
document.getElementById("bookingForm").addEventListener("submit", async function(e) {
    e.preventDefault();

    // lebih reusable dibanding document.querySelector("#bookingForm")
    const form = e.target;
    const formData = new FormData(form);

    const response = await fetch("{% url 'create_booking' %}", {
        method: "POST",
        body: formData,
    });

    
    const data = await response.json();
    const messageDiv = document.getElementById("message");
    

    // # mau pake toast aja 
    // !!!!!!!!!!!!!!!!!!!!!
    if (data.success) {
        // messageDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
        // contoh redirect manual kalau mau nanti
        window.location.href = data.payment_url;
        
        
    } else {
        messageDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
    }
});
</script>
