<footer class="bg-white border-t border-gray-200 mt-12">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 text-sm text-gray-500 flex justify-between items-center">
    <p> 
        <span class="font-bold text-[#243153]">
        Netly </span> <span class="font-bold text-[#add930]">| Cathlin Edlyn Evan Khalisa Nissyah
        </span>
    </p>
    <span class="text-[#243153]">
        Credit: 
        <a href="https://ayo.co.id/" target="_blank" rel="noopener noreferrer" class="hover:underline">
            ayo.co.id
        </a>
    </span>
  </div>
</footer>